#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
.info-container {
    border: 1px  #F3E1DD solid;
    border-radius: 15px;
    -webkit-box-shadow: -17px 24px 29px -25px rgba(0,0,0,0.75);
    -moz-box-shadow: -17px 24px 29px -25px rgba(0,0,0,0.75);
    box-shadow: -17px 24px 29px -25px rgba(0,0,0,0.75);
}
select {
    border-radius: 10px;
    max-width: 200px;
}
input[type=text] {
    border: 0;
    border-bottom: 1px blue solid;
    text-align: center;
}
.input-num {
    width: 25px;
}
.input-name {
    width: 150px;
}
.fa-times:hover {
    color: blue;
}
.main-cont {
    overflow-x: auto;
}
.info-container {
    min-width: 275px;
    max-width: 300px;
    margin-bottom: 30px;
}
.mood-li {
    background-color: #fff;
    font-size: 19px !important;
    min-height: 50px;
    width: 400px;
    padding: 10px 30px 10px 30px;
    text-align: justify;
    white-space: nowrap;
    border: 1px #F3E1DD solid;
    border-radius: 15px;
    -webkit-box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 6px 5px 0px rgba(0,0,0,0.75);
}
.delete-mood-li {
    position: relative;
    left: 325px;
}
.button-box {
    position: relative;
    left: 10px;
}
.status-log {
    width: 100%;
    height: 200px;
    padding: 0.25rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    border: solid #f7f7f9;
    overflow: auto;
    font-size: 12px;
}
.arrows {
	font-size: 9px;
	position: relative;
	right: 23px;
	bottom: 2px;
}